<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/myProfile.css">

</head>

<body>
    <%-  include ../fragments/navigationbar.ejs %>

    <div class="col-md-12 mob-clearfix margin-80">
        <input type="hidden" id="name-user" value="<%= user.username %>">
        <input type="hidden" id="name-image" value="<%= user.userImage %>">

        <div class="col-md-12">
            <div class="chat_container">
                <div class="row">
                    <!-- LEFT -->

                    <div class="col-sm-4 col-md-3">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="profile-sidebar">
                                        <div class="img-container">
                                            <img src="https://chatapplicationmukitur.s3.amazonaws.com/<%= user.userImage.replace("C:\\fakepath\\", "") %>" class="img-responsive img-user" id="show_img">
                                        </div>
                                
                                    <div class="profile-usertitle">
                                        <div class="profile-usertitle-name">
                                          <%= user.fullname %>
                                        </div>
                                        <div class="profile-usertitle-job">
                                          #<%= user.username%>
                                        </div>
                                    </div>
                              
                                    <div class="profile-usermenu">
                                        <ul class="nav">
                                            <li>
                                                <li class="active">
                                                <a href="/profile/<%=user.username%>" style="color:#520e79 !important">
                                                    <i class="fa fa-home" style="color:#520e79 !important"></i>Summary
                                                </a>
                                            </li>
                                            <li >
                                                <a href="/setup/profile" style="color:#520e79 !important">
                                                    <i class="fa fa-user" style="color:#520e79 !important"></i>Profile
                                                </a>
                                            </li>
                                           <li>
                                                <a href="/setup/myInterests" style="color:#520e79 !important">
                                                    <i class="fa fa-check" style="color:#520e79 !important"></i>Interests
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>


                    <!--MIDDLE-->
                    <div class="col-sm-8 col-md-9 mob-50">
                        <span id = "invalid"></span>
                        <!-- all the sections are wrapped inside one form -->
                        <form action ="/setup/myInterests" method="post">
                        
                        <div >
                            <div class="user-display">
                        
                                <h3 class="user-display-head" style="color:#520e79 !important">Favourite Food</h3>
                                <hr />
                                <!-- looping through the arraY FAVOURITE FOOD -->
                                <% _.forEach(user.favouriteFood, function(value){%>
                                <p style="margin-bottom:30px;">
                                    <span class="glyphicon glyphicon-check"></span>
                                    <%= value.foodName%>
                                </p>
                                <%})%>
                             
                            </div>
                        </div>

                         
                        <div style="margin-top:25px;">
                            <div class="user-display">
                        
                                <h3 class="user-display-head" style="color:#520e79 !important">Personal Hobbies</h3>
                                <hr />
                                 <!-- looping through the arraY hobbies -->
                                <% _.forEach(user.personalHobby, function(value){%>
                                    <p style="margin-bottom:30px;">
                                        <span class="glyphicon glyphicon-check"></span>
                                        <%= value.hobbyName%>
                                    </p>
                                    <%})%>
                        
                               
                            </div>
                        </div>
                        
                         
                        <div style="margin-top:25px;">
                            <div class="user-display">
                        
                                <h3 class="user-display-head" style="color:#520e79 !important">Favourite Group</h3>
                                <hr />
                                 <!-- looping through the arraY favouriteGroup -->
                                 <% _.forEach(user.favouriteGroup, function(value){%>
                                    <p style="margin-bottom:30px;">
                                        <span class="glyphicon glyphicon-check"></span>
                                        <%= value.groupName%>
                                    </p>
                                    <%})%>
                        
                                
                            </div>
                        </div>
                    </form>
                    </div>


                </div>

            </div>
        </div>

    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
crossorigin="anonymous"></script>
<!-- server side library -->
<script src="/socket.io/socket.io.js"></script>
<!-- adds the library for the client side friendrequest -->
<script src="/js/group/friendRequestSnd.js"></script>
<script src="/js/home.js"></script>
<script src="/js/global.js"></script>
<script src="/js/notificationLink.js"></script>
<script src="/js/deparam.js"></script>
<script src="/js/user/myInterests.js"></script>


</html>